@import "tailwindcss";

@theme {
  --color-farm-50: #f2fcf5;
  --color-farm-100: #e1f8e8;
  --color-farm-200: #c3eed2;
  --color-farm-300: #95deb0;
  --color-farm-400: #5fc588;
  --color-farm-500: #39a866;
  --color-farm-600: #26874e;
  --color-farm-700: #206b40;
  --color-farm-800: #1d5536;
  --color-farm-900: #19462e;
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@variant dark (&:where(.dark, .dark *));

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents scrollbars */
}

/* 2. Mapbox specific fix */
.mapboxgl-map {
  width: 100% !important;
  height: 100% !important;
}
